*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-shadow: 2px 0 2px #000, 
    0 2px 2px #000, 
    -2px 0 2px #000, 
    0 -2px 2px #000;
    background: no-repeat url(img/backk.jpg);
    background-attachment: scroll;
    background-position: bottom;
    background-size: cover;
    min-height: 400px;
}

.overlay {
    background: no-repeat url(img/back.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
.heading {
    background-color: rgb(250, 169, 103);
}

.main {
    background: rgba(255, 255, 255, 0.4)
}

footer {
    background-color: peru;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: auto;
}

.logo {
    float: left;
    block-size: 150px;
    border-radius: 50%;
}

nav {
    float: right;
    margin: 0px 0px;
}

nav li {
    display: inline-block;
    margin-left: 15px;
    font-size: 25px;
}

.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}


.grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
}

.grid4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.end {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.column {
    margin-bottom: 15px;
    color: ivory;
    text-shadow: 2px 0 2px #000, 
    0 2px 2px #000, 
    -2px 0 2px #000, 
    0 -2px 2px #000;
}

.container img {
    max-width: 100%;
    min-height: 100%;
    box-shadow: 3px 3px 3px #000;
}

.container_footer {
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: auto;
}

.container_footer img {
    max-width: 100%;
    min-height: 100%;
}